body {
    /* background-color: rgb(0, 136, 255); */
    background-image: url(background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(115, 115, 115, 0.7);
    border-radius: 10px;
    width: 80vw;
}

.nav {
    float: left;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    font-family: "Afacad Flux", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
    transition: font-size 0.3s ease;
}

.nav a:hover {
    font-size: 21px;
}

.nav a:before, .nav a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav a:before {
    top: 0;
}

.nav a:after {
    bottom: 0;
}

.nav a:hover:before, .nav a:hover:after {
    width: 100%;
}

.nav a:hover {
    background-color: rgba(34, 130, 34, 0.5);
}

#logo {
    height: 80px;
    float: right;
}

#header {
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue;
    position: fixed;
    z-index: 10;
    margin: 0; */
}

#AI-title {
    width: 30%;
    height: auto;  /* Maintains aspect ratio */
    vertical-align: middle;  /* Aligns image with text */
    display: inline-block;  /* Better control over image placement */
}


#title {
    color: white;
    font-family: 'Special Elite', sans-serif;
    height: 30vh;
    vertical-align: middle;
    position: relative;
    padding: 20px;
}

#title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    background-image: url('banner.jepg.jpg');
    z-index: -1;
}

#inspo {
    font-size: 35px;
    font-family: 'Afacad Flux', sans-serif;
}

.speaker {
    font-family: 'Afacad Flux', sans-serif;
    margin-left: 200px;
    font-size: 20px;
}

#intro {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 20px;
}

#footer {
    width: 100vw;
    height: 50px;
    background-color: black;
}

.default {
    font-family: 'Afacad Flux', sans-serif;
    font-size: 20px;
}